/**
* Author: Hanafi
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  background: #003B5C;
}

/*--------------------------------------------------------------
# Questionnaire
--------------------------------------------------------------*/

ul#id_consent li{
  display: inline; 
  margin-left: 50px;
  margin-top: 10px;
}

.abitright { margin-left: 90px; }

.ateenybitrightntop { margin-left: 30px; margin-top: 20px; margin-bottom: 20px; }